# 🔷 Azure Photo Report Module
PHOTO_REPORT_AZURE_ENABLED=false
AZURE_STORAGE_CONNECTION_STRING=
#gerar um container chamado teste 

# 🔷 Monitoring (opcional)
AZURE_MONITORING_ENABLED=false
AZURE_APPINSIGHTS_CONNECTION_STRING=
JWT_SECRET=algumasecretachaveforte
#gerar um apllcation insight e copiar a string.